<% provide(:title, 'Главная') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Главная страница</h1>
    <p>
      Содержание главной страницы
    </p>
    <p>
      <%= link_to "Зарегистрироватся", signup_path, class: "btn btn-large btn-primary" %>
    </p>

  </body>
</html>

