<footer class="footer">
  <small>
     <li class = "copyright"> &copy; 2013 Intellection </li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   about_path %></li>
      <li><%= link_to "Контакты", contacts_path %></li>
    </ul>
  </nav>
</footer>